<header>
  <a id="back" href="javascript:history.back()">
    <i id="back_icon" class="fas fa-arrow-left"></i>

  </a>
  <a id="header_sitename" href="/">
    <h1>Articles, Products, & Express</h1>
  </a>
</header>