<form action="/products" method="POST">
  Product Name:
  <input type="text" name="name">
  <br> Price:
  <input type="text" name="price">
  <br> Inventory:
  <input type="text" name="inventory">
  <br>
  <br>
  <input type="submit">
</form>