body {
  background-color: #f7f7f7;
  margin: 0;
}

body header {
  display: flex;
  background-color: white;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

body header a {
  text-decoration: none;
}

body header a h1 {
  font-weight: normal;
}

body header a:visited {
  color: inherit;
}
